<footer class="site-footer">

    <div class="wrapper">

<!-- disquss -->



<!-- disquss -->


<!-- Google Analitics -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4894954-49', 'auto');
  ga('send', 'pageview');

</script>

<!-- Google Analitics -->



    <h2 class="footer-heading" align="center"><a href="http://javadev.org/">javadev.org</a> & {{ site.title }} </h2>
        <p align="center">Opensource project with codes on <a href="https://bitbucket.org/javadev-org/labs.javadev.org">bitbucket</a>.
            You can send pull requests to add or change content.
        </p>
    </div>

</footer>
