<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <!-- <a class="page-link" href="http://javadev.org/job_offer/">Job Offer</a> -->
        <a class="page-link" href="http://javadev.org/chat/">Chat</a>
        <!-- <a class="page-link" href="http://javadev.org/about/">About</a> -->
        <!-- <a class="page-link" href="http://javadev.org/contacts/">Contacts</a> -->
        <a class="page-link" href="/library/videos/latest10/"
          >Latest 10 added Courses</a
        >
        <a class="page-link" href="/library/videos/top/">Top Video Courses</a>
        <a class="page-link" href="/sitemap/">SiteMap</a>
      </div>
    </nav>
  </div>
</header>
